.chart{
    margin: 20px;
    padding: 20px;
    -webkit-box-shadow: -1px 2px 5px 4px rgba(0,0,0,0.24);
-moz-box-shadow: -1px 2px 5px 4px rgba(0,0,0,0.24);
box-shadow: -1px 2px 5px 4px rgba(0,0,0,0.24);
}

.chartTitle{
    margin-bottom: 20px;
}